<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta content="text/html" charset="utf-8" />
    <title>[[${applicationContext.name}]] :: [[${boundedContext.name}]]</title>
    <style media="print">
        @page { size: A4 landscape; }
        body { font-size: 8pt; }
        h1 { font-size: 12pt; }
        h2 { font-size: 10pt; }
    </style>
    <style media="screen">
        body { font-size: 100%; }
        h1 { font-size: 150%; }
        h2 { font-size: 130%; }
    </style>
</head>
<body>
<table style="border: 1px solid #888;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 100%;">
            <table style="width: 100%; margin: 0px;">
                <tr>
                    <td style="width: 50%; padding: 0px 4px; vertical-align:bottom; border: 1px solid #888;"><h1>Name: <u>[[${boundedContext.name}]]</u></h1></td>
                    <td style="display: none;"></td>
                    <td style="width: 50%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;"><p style="text-align: right;">github.com/ddd-crew/bounded-context-canvas v5</p></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <table style="width: 100%; margin: 0px;">
                <tr>
                    <td style="width: 50%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;"><h1>Purpose</h1><p style="text-align: center;">[[${boundedContext.purpose}]]</p></td>
                    <td style="width: 35%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;"><h1>Strategic Classification</h1>
                        <table style="width: 100%; margin: 5px 5px 5px 0px; border: 1px solid #888">
                            <tr>
                                <td style="width: 33%; padding: 0px 4px; border: 1px solid #888"><h2>Domain</h2><p>[[${boundedContext.strategicClassification.domain.getName()}]]</p></td>
                                <td style="width: 33%; padding: 0px 4px; border: 1px solid #888"><h2>Business Model</h2><p>[[${boundedContext.strategicClassification.businessModel.getName()}]]</p></td>
                                <td style="border: 1px solid #888; padding: 0px 4px; "><h2>Evolution</h2><p>[[${boundedContext.strategicClassification.evolution.getName()}]]</p></td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 15%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Domain Roles</h1>
                        <table style="width: 100%; margin: 5px 5px 5px 0px; border: 1px solid #888">
                            <tr>
                                <td style="width: 100%; padding: 0px 4px; border: 1px solid #888"><h2>Role types</h2>
                                    <ul>
                                        <li style="padding-bottom: 3px;" th:each="roleType: ${boundedContext.domainRoles.roleTypes}" th:text="${roleType.getName()}" />
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: 1px solid #888">
        <td style="width: 100%;">
            <table style="width: 100%; margin: 0px;">
                <tr>
                    <td style="width: 35%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Inbound Communication</h1>
                        <p th:if="${boundedContext.inboundCommunication.isEmpty()}">--</p>
                        <th:block th:if="${!boundedContext.inboundCommunication.isEmpty()}">
                            <table style="width: 100%">
                                <tr th:each="communication: ${boundedContext.inboundCommunication}">
                                    <td style="width: 50%">
                                        <p style="text-align: center; padding: 2px; margin: 2px; background-color: #eee;" th:each="collaborator: ${communication.collaborators}">
                                            <small>&lt;&lt; [[${collaborator.type.getName()}]] &gt;&gt;</small><br />
                                            [[${collaborator.name}]]
                                        </p>
                                    </td>
                                    <td style="width: 5%"><strong>&gt;&gt;&gt;</strong></td>
                                    <td style="width: 45%">
                                        <p style="text-align: center; padding: 2px; margin: 2px; background-color: #eee;" th:each="message: ${communication.messages}">
                                            <small>&lt;&lt; [[${message.type.getName()}]] &gt;&gt;</small><br />
                                            [[${message.name}]]
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </th:block>
                    </td>
                    <td style="width: 30%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Ubiquitous Language</h1>
                        <p><small>Context specific domain terminology</small></p>
                        <ul>
                            <li style="padding-bottom: 3px;" th:each="ubiquitousLanguage: ${boundedContext.ubiquitousLanguage}"><u th:text="${ubiquitousLanguage.name}"></u> [[${ubiquitousLanguage.description}]]</li>
                        </ul>
                        <h1>Business Decisions</h1>
                        <p><small>Key business rules, policies and decisions</small></p>
                        <ul>
                            <li style="padding-bottom: 3px;" th:each="businessDecision: ${boundedContext.businessDecisions}">[[${businessDecision}]]</li>
                        </ul>
                    </td>
                    <td style="width: 35%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Outbound Communication</h1>
                        <p th:if="${boundedContext.outboundCommunication.isEmpty()}">--</p>
                        <th:block th:if="${!boundedContext.outboundCommunication.isEmpty()}">
                            <table style="width: 100%;">
                                <tr th:each="communication: ${boundedContext.outboundCommunication}">
                                    <td style="width: 45%;">
                                        <p style="text-align: center; padding: 2px; margin: 2px; background-color: #eee;" th:each="message: ${communication.messages}">
                                            <small>&lt;&lt; [[${message.type.getName()}]] &gt;&gt;</small><br />
                                            [[${message.name}]]
                                        </p>
                                    </td>
                                    <td style="width: 5%;"><strong>&gt;&gt;&gt;</strong></td>
                                    <td style="width: 50%;">
                                        <p style="text-align: center; padding: 2px; margin: 2px; background-color: #eee;" th:each="collaborator: ${communication.collaborators}">
                                            <small>&lt;&lt; [[${collaborator.type.getName()}]] &gt;&gt;</small><br />
                                            [[${collaborator.name}]]
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </th:block>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <table style="width: 100%; margin: 0px;">
                <tr>
                    <td style="width: 35%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Assumptions</h1>
                        <ul>
                            <li style="padding-bottom: 3px;" th:each="assumption: ${boundedContext.assumptions}" th:text="${assumption}" />
                        </ul>
                    </td>
                    <td style="width: 35%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Verification Metrics</h1>
                        <ul>
                            <li style="padding-bottom: 3px;" th:each="verificationMetric: ${boundedContext.verificationMetrics}" th:text="${verificationMetric}" />
                        </ul>
                    </td>
                    <td  style="width: 30%; padding: 0px 4px; vertical-align:top; border: 1px solid #888;">
                        <h1>Open Questions</h1>
                        <p th:if="${boundedContext.openQuestions.isEmpty()}">--</p>
                        <ul th:if="${!boundedContext.openQuestions.isEmpty()}">
                            <li style="padding-bottom: 3px;" th:each="openQuestion: ${boundedContext.openQuestions}" th:text="${openQuestion}" />
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <table style="width: 100%; margin: 0px;">
                <tr>
                    <td style="width: 50%; padding: 0px 4px; border: 1px solid #888;">
                        <p><small>generated at <th:block th:text="${#temporals.format(timestamp,'yyyy-MM-dd HH:mm:ss.SSS')}"></th:block></small></p>
                    </td>
                    <td style="display: none;"></td>
                    <td style="width: 50%; padding: 0px 4px; border: 1px solid #888;">
                        <p style="text-align: right;"><small>&#169; <th:block th:text="${#temporals.format(timestamp,'yyyy')}"></th:block> [[${templateContext.author()}]] generated by github.com/adam85w/bounded-context-canvas</small></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
